# Facebook Configuration
FACEBOOK_EMAIL=your_email@gmail.com
FACEBOOK_PASSWORD=your_password
FACEBOOK_COOKIES_JSON=[
    {
        "name": "datr",
        "value": "mK4lasNKGvXCml-31eklmdub",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": null,
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1815414424.491,
        "storeId": null
    },
    {
        "name": "fr",
        "value": "0NKXA0nvuvzHhrWJ9.AWeUkckjy6ZCZuVmDD2CC6VbMPpLa2zvAq0pAlwsQ665gNYN7s0.BqJa6Y..AAA.0.0.BqJa_S.AWesrBOCkiv1C2N7jm0bE7czgXU",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1788630741.325,
        "storeId": null
    },
    {
        "name": "vpd",
        "value": "v1%3B846x414x3.5",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "lax",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1786038695,
        "storeId": null
    },
    {
        "name": "xs",
        "value": "28%3A8l8Snu3BMTBXVw%3A2%3A1780854549%3A-1%3A-1",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1812390552.621,
        "storeId": null
    },
    {
        "name": "fbl_st",
        "value": "101721215%3BT%3A29680911",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "strict",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1812390695,
        "storeId": null
    },
    {
        "name": "locale",
        "value": "en_GB",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1781459467.652,
        "storeId": null
    },
    {
        "name": "m_pixel_ratio",
        "value": "3",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": null,
        "session": true,
        "firstPartyDomain": "",
        "partitionKey": null,
        "storeId": null
    },
    {
        "name": "c_user",
        "value": "61565702554010",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1812390552.598,
        "storeId": null
    },
    {
        "name": "presence",
        "value": "C%7B%22t3%22%3A%5B%5D%2C%22utc3%22%3A1780854868333%2C%22v%22%3A1%7D",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": null,
        "session": true,
        "firstPartyDomain": "",
        "partitionKey": null,
        "storeId": null
    },
    {
        "name": "pas",
        "value": "61565702554010%3AeACgdZ4qC8",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "lax",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1815414667.654,
        "storeId": null
    },
    {
        "name": "sb",
        "value": "mK4latHNtAT1ZQmmFZUh9RyR",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": true,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1815414552.62,
        "storeId": null
    },
    {
        "name": "wd",
        "value": "1920x961",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "lax",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1781459667,
        "storeId": null
    },
    {
        "name": "wl_cbv",
        "value": "v2%3Bclient_version%3A3184%3Btimestamp%3A1780854666",
        "domain": ".facebook.com",
        "hostOnly": false,
        "path": "/",
        "secure": true,
        "httpOnly": false,
        "sameSite": "no_restriction",
        "session": false,
        "firstPartyDomain": "",
        "partitionKey": null,
        "expirationDate": 1788630693,
        "storeId": null
    }
]

# Twitter/X Configuration
TWITTER_BEARER_TOKEN=your_bearer_token
TWITTER_API_KEY=your_api_key
TWITTER_API_SECRET=your_api_secret
TWITTER_ACCESS_TOKEN=your_access_token
TWITTER_ACCESS_SECRET=your_access_secret

# Page URLs to scrape
TARGET_PAGE_URL=https://www.facebook.com/ongko.org
TARGET_HANDLE=@twitter_handle

# Output Configuration
OUTPUT_DIR=./output
OUTPUT_FORMAT=markdown

# Scraping Configuration
MAX_POSTS=1000
TIMEOUT_SECONDS=30
RETRY_ATTEMPTS=30
RATE_LIMIT_DELAY=2

# Logging
LOG_LEVEL=INFO
